.ChessBoard {
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-columns:repeat(8,1fr);
    grid-template-rows:repeat(8,1fr);
    border: 2px solid black;
    /*transform: scale(1, -1);*/
}

.Square {
    /*transform: scale(1, -1);*/
}

#b {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1,-1);
}

#b .Square {
    transform: scale(-1, -1);

}

